In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/decomposition/online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps

In [2]:
df = pd.read_csv('emprestimo.csv',';')
df

/srv/conda/envs/notebook/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

   montante   idade salario tem_conta empresta
0     Medio  Senior   Baixo       Sim      Nao
1     Medio  Senior   Baixo       Nao      Nao
2     Baixo  Senior   Baixo       Sim      Sim
3      Alto   Media   Baixo       Sim      Sim
4      Alto   Jovem    Alto       Sim      Sim
5      Alto   Jovem    Alto       Nao      Nao
6     Baixo   Jovem    Alto       Nao      Sim
7     Medio   Media   Baixo       Sim      Nao
8     Medio   Jovem    Alto       Sim      Sim
9      Alto   Media    Alto       Sim      Sim
10    Medio   Media    Alto       Nao      Sim
11    Baixo   Jovem   Baixo       Nao      Sim
12    Baixo  Senior    Alto       Sim      Sim
13     Alto   Media   Baixo       Nao      Nao

In [3]:
df['montante'],class_names = pd.factorize(df['montante']) # Medio=0; Baixo=1; Alto=2
print(class_names)
print(df['montante'].unique())

df['idade'],class_names = pd.factorize(df['idade']) # Senior=0; Media=1; Jovem=2
print(class_names)
print(df['idade'].unique())

df['salario'],class_names = pd.factorize(df['salario']) # Baixo=0; Alto=1
print(class_names)
print(df['salario'].unique())

df['tem_conta'],class_names = pd.factorize(df['tem_conta']) # Sim=0; Não=1; 
print(class_names)
print(df['tem_conta'].unique())

df['empresta'],class_names = pd.factorize(df['empresta']) # Não=0; Sim=1;
print(class_names)
print(df['empresta'].unique())

Index(['Medio', 'Baixo', 'Alto'], dtype='object')
[0 1 2]
Index(['Senior', 'Media', 'Jovem'], dtype='object')
[0 1 2]
Index(['Baixo', 'Alto'], dtype='object')
[0 1]
Index(['Sim', 'Nao'], dtype='object')
[0 1]
Index(['Nao', 'Sim'], dtype='object')
[0 1]

In [4]:
df

    montante  idade  salario  tem_conta  empresta
0          0      0        0          0         0
1          0      0        0          1         0
2          1      0        0          0         1
3          2      1        0          0         1
4          2      2        1          0         1
5          2      2        1          1         0
6          1      2        1          1         1
7          0      1        0          0         0
8          0      2        1          0         1
9          2      1        1          0         1
10         0      1        1          1         1
11         1      2        0          1         1
12         1      0        1          0         1
13         2      1        0          1         0

In [5]:
# separa as colunas de features (colunas com os dados)
feature_cols = ['montante','idade','salario','tem_conta']
X_train = df[feature_cols]

In [6]:
# separa a coluna target (colunas com os dados das classes)
y_train = df.empresta

In [7]:
X_train.columns # nomes das colunas features para treinamento

Index(['montante', 'idade', 'salario', 'tem_conta'], dtype='object')

In [8]:
df.columns[4]       # nome da coluna targer para treinamento

'empresta'

In [9]:
# constrói o modelo usando critério “Entropia”
clf = DecisionTreeClassifier(criterion='entropy')

In [10]:
# treina o modelo – observe que nessa abordagem está usando os mesmos dados para treinamento e testes (sem separação)
clf = clf.fit(X_train,y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/tree/tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

In [11]:
# mostra modelo processado
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
# mostra a árvore
fig1 = plt.figure(figsize=(10,10))
_ = tree.plot_tree(clf, feature_names=X_train.columns,class_names=df.columns[4], filled=True)
fig1.savefig("figArvore.png")

In [13]:
#Treinamento(70%) e Testes(30%)
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.3, random_state=1)

In [14]:
#Dados para Treino
X_train

    montante  idade  salario  tem_conta
4          2      2        1          0
1          0      0        0          1
12         1      0        1          0
0          0      0        0          0
13         2      1        0          1
9          2      1        1          0
8          0      2        1          0
11         1      2        0          1
5          2      2        1          1

In [15]:
#Dados para Teste
X_test

    montante  idade  salario  tem_conta
3          2      1        0          0
7          0      1        0          0
6          1      2        1          1
2          1      0        0          0
10         0      1        1          1

In [16]:
clf = DecisionTreeClassifier(criterion='entropy')

In [17]:
clf = clf.fit(X_train,y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/tree/tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

In [18]:
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [19]:
fig2 = plt.figure(figsize=(10,10))
_ = tree.plot_tree(clf, feature_names=X_train.columns,class_names=df.columns[4], filled=True)
fig2.savefig("figArvore2.png")

In [20]:
y_pred = clf.predict(X_test)

In [21]:
count_misclassified = (y_test != y_pred).sum()
print('Amostras erroneamente classificadas: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Acuracia: {:.2f}'.format(accuracy))

Amostras erroneamente classificadas: 4
Acuracia: 0.20